
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=x, initial-scale=1.0">
    <title>
        {{ recipe_object.title }} -
        Scrumptious Recipes
    </title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
    <header>
        <nav>
            <a class="nav-button" href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}"
            alt="Close up picture of vegetarian tacos."
            width="200" height="200">
        <figcaption>4.3 stars</figcaption>
        <p>{{ recipe_object.description }}</p>
            <a class="recipe-button" href="{% url 'edit_recipe' recipe_object.id %}">Edit recipe</a>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th scope="col">Amount</th>
                    <th scope="col">Food item</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1 cup</th>
                    <td>Green beans</td>
                </tr>
                <tr>
                    <th scope="row">3 ears</th>
                    <td>Fresh corn</td>
                </tr>
                <tr>
                    <th scope="row">2 cups</th>
                    <td>Tomatillo salsa</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>corn tortillas</td>
                </tr>
                <tr>
                    <th scope="row">0.5 cups</th>
                    <td>Cotija cheese</td>
                </tr>
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            <li>Blanch the green beans</li>
            <li>Grill the green beans and the ears of corn</li>
            <li>Chop the green beans</li>
            <li>Slice the corn off the cob</li>
            <li>Grill the tortillas</li>
            <li>Assemble the tacos with veggies, salsa, and cheese</li>
        </ol>
    </main>
    <footer>
        <div class="footer-div">Made with love by Scrumptious Recipes</div>
    </footer>
</body>
</html>
